<h1> Listing all questions! </h1>

<%= link_to "Create New Question", new_question_path %>

<% @questions.each do |question| %>

	<h2><%= link_to question.title, question %></h2>
	<p><%= question.description %></p>
	<p>Created On: <%= formatted_date(question.created_at) %></p>
	<hr>


<% end %>

